* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0.7;
    border: 1px solid #bbb;
    background-color: black;
    position: fixed;
    z-index: 1;
    width: 100%;
}

li {
    float: left;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #333232;
}

body {
  background-color:#09062c;
}

p {
    color: #fff;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: justify;
}

.inicial {
    width: 100vw;
    height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0, #09062c, #000000);
    background-size: 100%;
}

.stars{
    position: relative;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	box-shadow: 100px 100px white,
    200px 200px white,
    300px 300px white,
    400px 400px white,
    500px 500px white,
    600px 600px white,
    700px 700px white,
    800px 800px white,
    900px 900px white,
    100px 400px white,
    200px 300px white,
    300px 200px white,
    400px 100px white,
    500px 600px white,
    600px 500px white,
    700px 400px white,
    800px 300px white,
    900px 200px white,
    1000px 100px white,
    100px 700px white,
    200px 600px white,
    300px 500px white,
    400px 400px white,
    500px 300px white,
    600px 200px white,
    700px 100px white,
    800px 700px white,
    900px 600px white,
    1000px 500px white,
    1100px 400px white,
    1200px 300px white,
    1300px 200px white,
    1400px 100px white,
    1500px 700px white,
    1600px 600px white,
    1700px 500px white,
    1800px 400px white,
    1900px 300px white,
    2000px 200px white,
    100px 100px white,
    200px 200px white,
    300px 300px white,
    400px 400px white,
    500px 500px white,
    600px 600px white,
    700px 700px white,
    800px 800px white,
    900px 900px white,
    1000px 1000px white,
    1100px 1100px white,
    1200px 1200px white,
    1300px 1300px white,
    1400px 1400px white,
    1500px 1500px white,
    1600px 1600px white,
    1700px 1700px white,
    1800px 1800px white,
    1900px 1900px white,
    2000px 2000px white;
    animation: anim-stars 10s linear infinite;
}
.stars::after{
    content: " ";
    position: absolute;
    top: 334px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    box-shadow: 50px 30px white,
      100px 80px white,
      80px 120px white,
      300px 20px white,
      250px 130px white,
      200px 50px white,
      150px 100px white,
      320px 100px white;
  }
  .stars2{
    position: relative;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    box-shadow: 15px 15px white,
      125px 35px white,
      50px 80px white,
      10px 120px white,
      275px 90px white,
      230px 10px white,
      120px 130px white,
      300px 130px white,
      220px 115px white;
    animation: anim-stars 20s linear infinite;
  }
  
  .stars2::after{
    content: " ";
    position: absolute;
    top: 150px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    box-shadow: 15px 15px white,
      125px 35px white,
      50px 80px white,
      10px 120px white,
      275px 90px white,
      230px 10px white,
      120px 130px white,
      300px 130px white,
      220px 115px white;
  }
@keyframes anim-stars {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-150px);
    }
}
.descricao {
    position: absolute;
    align-items: center;
    width: 100vw;
    height: 99vh;
    margin-left: 0%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: black;
    opacity: 0.9;
    align-self: center;
    z-index: 0;
}

.texto {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.texto h1,p{
    color: white;
    text-shadow: rgb(21, 18, 170) 0.1em 0.1em 0.2em;
    font-family: 'Times New Roman', Times, serif;
}
.texto h1{
    font-size: 680% ;
}
.imginicial {
    align-items: right;
    width: 25vw;
    height: 52vh;
    display: flex;
    border-radius: 50%;
    flex-direction: row;
    background-image: url('https://media.licdn.com/dms/image/C4D03AQFX65GaT8febQ/profile-displayphoto-shrink_800_800/0/1659723643916?e=1701302400&v=beta&t=OB5ZVA2kkVfzNf_5a93WLarCPRVJ8A0L9-Vy8v9W9n0');
    background-repeat: no-repeat;
    background-size: cover;
}

.mais {
    background-color: rgb(139, 139, 218);
    align-items: center;
    display: flex;
    justify-content: center;
    height: 46vw;
    width: 100vw;
    opacity: 0.7;
    flex-direction: column;
    background: linear-gradient(0, #09062c, #04021c);
}
.lista{
    justify-content: space-between;
    align-items: center;
}
.skill{
    text-align: center;
    list-style-type: none;
    text-decoration-color: aliceblue;
    justify-content: space-evenly;
}
.divmais{
    flex-direction: column;
}
.rodape {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5vh;
    width: 100vw;
    background: linear-gradient(0, #080336, #1d1760);
    border: 1px linear-gradient(0, #201d47, #1d1760);
}